<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/dash.css">
    <title>Dashboard</title>
</head>
<body>
    <div class = "head">
        <h1>Welcome to Chess Predictor</h1>
    </div>

    <div class = "container">
         <form action="/process-input" method="post">
            <h1>Predict Best Move</h1>
             <p>Enter Opponent's Input: </p>
            <input type="text" name="user_input" id="user_input" required>
            <button type="submit" class = "submit">Submit</button>
         </form>

            <div class = "predictionHeader">
                <p>Stockfish Recommends: </p>
            </div>
            <div class = "predictor">
                <label> {{MOVE}} </label>
            </div>
            <form action="/logout" method="get">
                <button type="submit" class = "logout">Logout</button>
            </form>
    </div>
</body>
</html>

